:root {
  --banner-height: 20vh;
  --logo: 10vh;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background-color: #080707;
  color: #ffffff;
  line-height: 1.6;
}

.hero {
  height: 100vh;
  /* background-color: #000707; */
  background: radial-gradient(
  circle 300px at 90% 30%,
  rgba(38, 105, 230, 0.8),
  transparent
);
}

.banner {
  height: var(--banner-height);
  width: 100%;
  
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-bottom: #ffffff 1px solid;
  display: flex;
  position: fixed;
  
  z-index: 1000000;
}

.nav-bar {
  height: 60%;
  width: 90%;

  border-radius: 100px;
  border: #ffffff 1px solid;
  background-color: rgba(0, 7, 7, 0);

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 5%;
}

.nav {
  display: flex;
}

.nav-left {justify-self: left;}

.nav-center {
  height: 100%;
  background-color: #080707;
  
  justify-self: center;
  
  display: flex;
  align-items: center;
  gap: var(--logo);
  padding: 0 20%;
}

.nav-item {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-right {
  justify-self:end;
  display: flex;
  gap: 20px;
  align-items: center;
  
}

.contact-icons {
  width: 6vh;
  height: 6vh;
}
.contact-icons img {
  width: 100%;
  height: 100%;
}

.logo-container {
  width: var(--logo);
  height: var(--logo);
}

#filler {
  height: var(--banner-height);
}

.site-header {
  text-align: center;

  padding: 3rem 1rem;
  background-color: rgba(31, 41, 51, 0);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50vh;
}

main {
  max-width: 1100px;
  margin: 3rem auto;
  padding: 0 1.5rem;
}

section {
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-card {
  background-color: white;
  border-radius: 6px;
  overflow: scroll;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);

  /* opacity: 0; */

  transition: all 1s ease-in;
}

.project-card img {
  width: 100%;
  display: block;
  transition: transform 0.25s ease;
}

.project-card a:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

.project-content {
  padding: 1rem;
}

.project-content h3 {
  margin-bottom: 0.5rem;
}

.more-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
}

.project-description {
  margin-top: 0.8rem;
  font-size: 0.95rem;
  height: fit-content;
  transition: all 0.5 ease-out;
  color: #444;
}

.hidden {
  transition: all 0.5 ease-out;
  display: none;
}

.contact p {
  margin-bottom: 0.4rem;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #1f2933;
  color: white;
}

a {
  color: white;
}


/* Responsive */
@media (max-width: 700px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
