:root {
  --banner-height: 13vh;
  --logo: 1.5rem;
  --icon-size: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background-color: #080707;
  color: #ffffff;
  line-height: 1.6;
}

.hero {
  height: 100vh;
  /* background-color: #000707; */
  background: radial-gradient(
  circle 80vh at 90% 10%,
  hsla(219, 79%, 53%, 0.8),
  transparent
);
}

.banner {
  height: var(--banner-height);
  width: 100%;
  
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-bottom: #ffffff 1px solid;
  display: flex;
  position: fixed;
  
  z-index: 1000000;
}

.nav-bar {
  height: 60%;
  width: 90%;

  border-radius: 100px;
  border: #ffffff 1px solid;
  background-color: rgba(0, 7, 7, 1);

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  padding: 0 5%;
}

.nav {
  display: flex;
}

.nav-left {justify-self: start;}

.nav-center {
  height: 80%;
  
  justify-self: center;
  
  display: flex;
  align-items: center;
  gap: 10%;
}

.nav-item {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(170, 170, 170);
}

.nav-right {
  justify-self:end;
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.contact-icons {
  width: var(--icon-size);
  height: var(--icon-size);
}
.contact-icons img {
  width: 100%;
  height: 100%;
}

.logo-container {
  width: var(--logo);
  height: var(--logo);
}

#filler {
  height: var(--banner-height);
  margin-bottom:20px;
}

.site-header {
  text-align: center;

  padding: 3rem 3rem;
  background-color: rgba(31, 41, 51, 0);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

}

.site-header h1 {
  font-size: 500%;
  text-shadow: 0 0 6px #2669e6cc;
  font-family: 'Ysabeau Infant';
}

.site-header h1 .gradient {
  background: linear-gradient(90deg, #ffffff, #2669e6cc);
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Ysabeau Infant';
}

.site-header .cta {
  margin-top: 100%;
  padding: 10px 20px;
  /* width: 20%;
  height: 15%; */

  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;

  font-family: 'Ysabeau SC';

}

.site-header p {
  color: rgba(255,255,255,0.5);
  font-size: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50vh;
}

main {
  max-width: 1100px;
  margin: 3rem auto;
  padding: 0 1.5rem;
}

section {
  margin-bottom: 4rem;
}

.about p {
  font-family: "Ysabeau SC";
}

h2 {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
  font-family: "Ysabeau Infant";
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-card {
  background-color: rgba(200, 200, 200, 1);

  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);

  /* opacity: 0; */

  transition: all 1s ease-in;
}

.project-card img {
  width: 100%;
  display: block;
  transition: transform 0.25s ease;
}

.project-card a:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

.project-content {
  padding: 1rem;
}

.project-content h3 {
  margin-bottom: 0.5rem;
  font-family: "Ysabeau Infant";
  color: #080707;
}

.project-content p {
  font-family: "Ysabeau SC";
}

.more-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  font-family: "Ysabeau SC";
}

.project-description {
  margin-top: 0.8rem;
  font-size: 0.95rem;
  height: fit-content;
  transition: all 0.5 ease-out;
  color: #444;
}

.hidden {
  transition: all 0.5 ease-out;
  display: none;
}

.project-links {
  width: 30%;
  height: 40px;
  display: inline-block;
  margin-top: 15px;
}

.project-links button {
  font-family: "Ysabeau Infant";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  font-size: 15px;
}

.contact p {
  margin-bottom: 0.4rem;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #1f2933;
  color: white;
}

a {
  color: white;
}


/* Responsive */
@media (max-width: 700px) {
    :root {
    --logo: 4vh;
    --icon-size: 3vh;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .nav-center {
    display: none;
  }

  .banner {
    background-color: rgba(0, 7, 7, 0);
    border-width: 0;
  }
  .nav-bar {
    height: 70%;
  }

  .site-header h1 {
    font-size: 300%;
  }
}
